.panel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  transition-delay: 0.1s;
  overflow: hidden;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  justify-content: space-between;
  display: flex;
  justify-content: center;
  align-items: center;
}

.passiveContainer {
  transition: 0.8s;
  transition-delay: 0s;
  opacity: 0;
}

.activeContainer {
  transition: 0.8s;
  transition-delay: 0.3s;
  opacity: 1;
}
